@import "../../assets/animate/selectDownUpExtend.styl"

.p-drop
  display inline-block
  vertical-align middle
  font-size 0
  text-align left
  .p-drop-title
    display flex
    align-items center
    cursor pointer
    .p-drop-title-content
      font-size 14px
      transition color .3s
    .p-drop-triangle
      width 16px
      height 16px
      line-height 1
      svg
        transition transform .3s
        path
          transition fill .3s
    .p-drop-triangle-rotate
      svg
        transform rotate(180deg)
  &:hover
    .p-drop-title-content
      color var(--blue-500)
    .p-drop-triangle
      path
        fill var(--blue-500)
.p-drop-show
  position relative
  &::after
    content ''
    position absolute
    left 0
    top 0
    z-index 10
    display inline-block
    opacity 0
    width 100%
    height 100%
    cursor pointer
  .p-drop-title-content
    color var(--blue-500)
  .p-drop-triangle
    path
      fill var(--blue-500)
.p-drop-disabled
  .p-drop-title
    cursor not-allowed
.p-drop-light
  .p-drop-title
    color var(--grey-900)
.p-drop-dark
  .p-drop-title
    color var(--white)
  .p-drop-triangle
    svg
      path
        fill var(--blue-500)

.p-drop-content
  position absolute
  display inline-block
  outline none
  padding-top 8px
  padding-bottom 8px
  border-radius 4px
  box-shadow var(--box-shadow-bottom)
  min-width 120px
  z-index 700
  font-size 0
  pointer-events none
.p-drop-content-top-arrow
  filter drop-shadow(var(--box-shadow-triangle-top))
  &::before
    position absolute
    top -6px
    right 12px
    content ''
    border-style solid
    border-width 0 6px 6px 6px
    border-color transparent transparent var(--white) transparent
    width 0
    height 0
.p-drop-content-bottom-arrow
  filter drop-shadow(var(--box-shadow-triangle-bottom))
  &::after
    position absolute
    bottom -6px
    right 12px
    content ''
    border-style solid
    border-width 6px 6px 0 6px
    border-color var(--white) transparent transparent transparent
    width 0
    height 0
.p-drop-option
  width 100%
  overflow-x hidden
  overflow-y auto
  min-height 54px
  contain paint
  .p-drop-option-item
    padding-left 12px
    padding-right 12px
    width 100%
    height 38px
    font-size 14px
    cursor pointer
    white-space nowrap
    text-overflow ellipsis
    overflow hidden
    transition background-color .3s
    .p-drop-option-svg
      margin-right 8px
      svg
        vertical-align middle
    span
      vertical-align middle
      line-height 38px
      .p-drop-option-svg
        svg
          path
            fill var(--blue-500)
    &.p-drop-option-disable
      cursor not-allowed
.p-drop-search
  position relative
  display block
  padding-left 12px
  padding-right 12px
  padding-bottom 8px
  width 100%
  height 40px
  .p-drop-input
    outline none
    padding-left 12px
    padding-right 30px
    background none
    border 1px solid var(--grey-400)
    border-radius 4px
    width 100%
    height 100%
    font-size 14px
    color var(--grey-900)
  .p-drop-clear
    position absolute
    right 13px
    top 1px
    width 30px
    height @width
    line-height @width
    text-align center
    cursor pointer
    &:hover
      path
        fill var(--blue-500)
    svg
      width 16px
      height @width
      font-size 0
      vertical-align middle
      path
        transition fill .3s
.p-drop-search-shadow
  box-shadow var(--box-shadow-bottom)
.p-drop-content-light
  background-color var(--theme)
  border 1px solid var(--grey-300)
  .p-drop-option-item
    color var(--grey-900)
    &:hover
      background-color  var(--hover-color-grey)
    &.p-drop-option-selected
      color var(--blue-500)
      background-color var(--blue-100)
    &.p-drop-option-disable
      color var(--grey-400)
.p-drop-content-dark
  background-color var(--blue-900)
  border 1px solid var(--blue-500)
  .p-drop-option-item
    color var(--white)
    &:hover
      background-color var(--blue-800)
    &.p-drop-option-selected
      color var(--blue-50)
      background-color var(--blue-700)
    &.p-drop-option-disable
      color var(--blue-200)
