.d-input-inline
  position relative
  display inline-block
  width 100%
  font-size 0
.d-input
  padding-left 8px
  border 1px solid var(--grey-400)
  border-radius 4px
  width 100%
  height 32px
  outline none
  font-size 14px
  color var(--grey-900)
  transition border-color .12s
  &:hover,
  &:active,
  &:focus
    border-color var(--blue-500)
  &::placeholder
    color var(--grey-400)
.d-input-err
  border-color var(--red-500)

.d-input-err-text
  position absolute
  left 0
  top 32px
  line-height 24px
  font-style normal
  font-size 12px
  color var(--red-500)
