/* 日期选择器触发器 */
.p-date-trigger
  position relative
  display inline-flex
  align-items center
  justify-content space-between
  border-width 1px
  border-style solid
  border-radius 4px
  height 32px
  line-height 30px
  font-size 0
  cursor pointer
  transition border .3s
  user-select none
  //overflow hidden
  .p-date-trigger-triangle
    &:first-child
      border-top-left-radius 4px
      border-bottom-left-radius 4px
    &:last-child
      border-top-right-radius 4px
      border-bottom-right-radius 4px
.p-date-trigger-border
  border-color var(--grey-400)
  &:hover
    border-color var(--blue-500)
.p-date-trigger-border-none
  border-color transparent
  &:hover
    .p-date-trigger-text
      .p-date-trigger-select-date
        color var(--blue-500)
.p-date-trigger-border-show
  border-color var(--blue-500)
.p-date-trigger-single
  width 180px
.p-date-trigger-single-drop
  width 136px
  .p-date-trigger-text
    text-align center
.p-date-trigger-single-drop-4
  width 136px
.p-date-trigger-single-drop-3
  width 173px
.p-date-trigger-single-drop-2
  width 210px
.p-date-trigger-single-drop-1
  width 296px
.p-date-trigger-range
  width 240px
.p-date-trigger-range-drop
  width 296px
.p-date-trigger-icon
  text-align center
  width 40px
  height 30px
  svg
    vertical-align middle
    width 16px
    height @width
.p-date-trigger-clear
  &:hover
    path
      fill var(--blue-500)
      transition fill .3s
.p-date-trigger-triangle
  text-align center
  width 30px
  height @width
  &:hover
    transition background-color.3s
    background-color var(--blue-100)
  svg
    vertical-align middle
    width 16px
    height @width
.p-date-trigger-triangle-disabled
  cursor not-allowed
  svg
    path
      fill var(--grey-400)
.p-date-picker-caption
  padding-left 12px
  max-width 114px
  font-size 14px
  color var(--grey-500)
  overflow hidden
  white-space nowrap
  text-overflow ellipsis
.p-date-trigger-content
  display flex
  width 100%
  height 30px
.p-date-trigger-content-calendar
  display flex
  width calc(100% - 40px)
  height 30px
.p-date-trigger-content-quick-switch
  width calc(100% - 62px)
  .p-date-trigger-text
    text-align center
.p-date-trigger-text
  width 100%
  text-align left
  overflow hidden
  .p-date-trigger-placeholder
    color var(--grey-400)
    font-size 14px
  .p-date-trigger-select-date
    color var(--grey-900)
    font-size 14px
    white-space nowrap
    overflow hidden
    transition color .3s
.p-date-trigger-text-center
  text-align center
.p-date-trigger-text-range
  width calc(50% - 19px)
  text-align center
.p-date-trigger-text-padding
  padding-left 12px
.p-date-trigger-text-padding-4
  padding-left 4px
.p-date-trigger-connector
  width 38px
  height 30px
  text-align center
  color var(--grey-500)
  font-size 14px
.p-date-trigger-disabled
  background-color var(--grey-200)
  cursor not-allowed
  &:hover
    border-color var(--grey-400)
  .p-date-picker-caption,
  .p-date-trigger-select-date
    color var(--grey-400)
  .p-date-trigger-triangle
    svg
      path
        fill var(--grey-400)
    &:hover
      background-color var(--grey-200)
  .p-date-trigger-connector
    color var(--grey-400)

.p-trigger-error
  border-color var(--red-500)
.p-trigger-error-text
  position absolute
  left 0
  top 36px
  line-height 14px
  font-size 14px
  color var(--red-500)
