.p-picker
  display inline-block
  font-size 0
.p-picker-child
  position relative
  font-size 0
.p-picker-main
  outline none
  position absolute
  background-color var(--theme)
  border 1px solid var(--grey-300)
  box-shadow var(--box-shadow-bottom)
  border-radius 4px
  min-width 330px
  max-width 626px
  overflow hidden
  font-size 0
  z-index 7000
  transition top .3s
  .p-picker-main-item-box
    padding-left 16px
    padding-right @padding-left
    .p-picker-main-item-input-box
      position relative
      display flex
      align-items center
      justify-content space-between
      padding-top 12px
      padding-bottom 12px
      //width 294px
    .p-picker-main-item
      display flex
      align-items center
      justify-content center
  .p-picker-main-handle
    padding 16px
    text-align right
    width 100%
    .p-picker-handle-time
      margin-right 16px
      font-size 14px
      user-select none
      vertical-align middle
      transition color .3s
    .p-picker-handle-time-normal
      color var(--blue-500)
      cursor pointer
      &:hover
        color var(--blue-600)
    .p-picker-handle-time-disabled
      color var(--grey-400)
      cursor not-allowed
.p-date-picker-handle
  display flex
  justify-content space-between
  padding 16px
.p-date-picker-handle-toggle
  display flex
  justify-content space-between
  align-items center
.p-date-picker-handle-no
  text-align right
.p-date-picker-handle-left
  line-height 28px
  .p-date-picker-handle-add-segment
    padding-right 8px
  .p-date-picker-handle-text
    margin-left 8px
    vertical-align middle
    font-size 14px
    color var(--grey-900)
    user-select none
  .p-date-picker-lock
    display inline
    padding-left 16px
    cursor pointer
    .p-date-picker-lock-svg
      svg
        vertical-align middle
        width 16px
        height @width
      .p-date-picker-lock-active
        path
          fill var(--blue-500)
  .p-date-picker-lock-disabled
    cursor not-allowed
    .p-date-picker-lock-svg
      svg
        path
          fill var(--grey-400)
    .p-date-picker-handle-text
      color var(--grey-400)
.p-date-picker-handle-right
  .p-picker-handle-time
    margin-right 16px
    font-size 14px
    user-select none
    vertical-align middle
    transition color .3s
  .p-picker-handle-time-normal
    color var(--blue-500)
    cursor pointer
    &:hover
      color var(--blue-600)
  .p-picker-handle-time-disabled
    color var(--grey-400)
    cursor not-allowed
.p-picker-main-item-time-select
  margin-top 16px
  margin-bottom 16px

.p-date-picker-handle-note
  position relative
  display inline
  .p-date-picker-handle-note-svg
    vertical-align middle
    width 16px
    height @width
    cursor pointer
  .p-date-picker-handle-note-text
    position absolute
    left -24px
    top -50px
    background-color var(--theme)
    padding 4px 8px
    border 1px solid var(--grey-200)
    border-radius 4px
    box-shadow var(--box-shadow-bottom)
    width 236px
    line-height 18px
    font-size 12px
    color var(--grey-900)
    opacity 0
    pointer-events none
    transition all .3s
  &:hover
    .p-date-picker-handle-note-text
      top -60px
      opacity 1
