.d-form-item
  font-size 0

.d-form-item
  &+.d-form-item
    margin-top 20px
.d-form-item-label
  display flex
  align-items center
  margin-bottom 8px
  line-height 20px
.d-form-item-required
  margin-right 4px
  font-style normal
  font-size 14px
  color var(--red-500)
.d-form-item-title
  font-size 14px
  color var(--grey-900)
