.d-drop-trigger
  position relative
  display inline-flex
  justify-content space-between
  align-items flex-start
  border 1px solid var(--grey-400)
  border-radius 4px
  width 120px
  font-size 0
  transition border-color .3s
.d-drop-trigger-active
  cursor pointer
  &:hover
    border-color var(--blue-500)
  &:active
    border-color var(--blue-600)
.d-drop-trigger-disabled
  background-color var(--grey-200)
  cursor not-allowed
  .d-drop-trigger-caption
    color var(--grey-400)
  .d-drop-trigger-icon
    svg
      path
        fill var(--grey-400)
  .d-drop-trigger-label
    cursor not-allowed
    .d-drop-trigger-selected
      .d-drop-trigger-selected-m
        color var(--grey-400)
      .d-drop-trigger-selected-m-c
        color var(--grey-400)
.d-drop-trigger-normal
  height 32px
.d-drop-trigger-tag
  min-height 32px
  max-height 84px
//overflow hidden

.d-drop-trigger-text-overflow
  overflow hidden
  white-space nowrap
  text-overflow ellipsis

.d-drop-trigger-main
  padding-left 8px
  width calc(100% - 30px)
.d-drop-trigger-main-normal
  height 30px
.d-drop-trigger-caption
  display inline-block
  max-width 98px
  height 30px
  line-height @height
  color var(--grey-600)
  font-size 14px
.d-drop-trigger-label
  position relative
  display inline-block
  width 100%
  height 30px
  overflow hidden
  cursor pointer
.d-drop-trigger-label-pl
  padding-left 8px
.d-drop-trigger-placeholder
  display block
  width 100%
  height 30px
  line-height @height
  font-size 14px
  color var(--grey-400)
.d-drop-trigger-selected
  display flex
  width 100%
  height 30px
  line-height @height
.d-drop-trigger-selected-m
  display block
  width 100%
  height 100%
  overflow hidden
  white-space nowrap
  text-overflow ellipsis
  font-size 14px
  color var(--grey-900)
  transition color .3s
.d-drop-trigger-selected-s
  width 100%
  overflow hidden
  text-overflow ellipsis
  white-space nowrap
  font-size 14px
.d-drop-trigger-selected-m-c
  padding-left 4px
  padding-right 4px
  color var(--blue-500)
  font-size 14px
.d-drop-trigger-selected-focus
  .d-drop-trigger-selected-m
    color var(--grey-400)
  .d-drop-trigger-selected-m-c
    color var(--grey-400)
  .d-drop-trigger-selected-s
    color var(--grey-400)
.d-drop-trigger-input
  position absolute
  left 0
  top 0
  outline none
  background none
  border 0
  width 100%
  height 30px
  font-size 14px
  color var(--grey-900)
.d-drop-trigger-input-readonly
  cursor pointer
.d-drop-trigger-main-tag
  display inline-flex
  min-height 30px
.d-drop-trigger-main-tag-box
  min-height 28px
  max-height 82px
  overflow-x hidden
  overflow-y auto
.d-drop-trigger-tag-list
  display inline-flex
  align-items flex-start
  flex-wrap wrap
  padding-top 4px
  width 100%
  min-height 28px
.d-drop-trigger-tag-list-item
  display inline-flex
  align-items center
  margin-right 4px
  margin-bottom 4px
  padding-left 4px
  background-color var(--grey-200)
  height 22px
  line-height @height
  .d-drop-trigger-tag-list-text
    font-size 14px
    color var(--grey-900)
    cursor text
  .d-drop-trigger-tag-list-svg
    width 22px
    height @width
    text-align center
    svg
      vertical-align middle
      width 10px
      height @width
      font-size 0
      path
        transition fill .3s
  .d-drop-trigger-tag-list-svg-normal
    &:hover
      path
        fill var(--blue-500)
  .d-drop-trigger-tag-list-svg-disabled
    cursor not-allowed

.d-drop-trigger-icon
  width 30px
  height @width
.d-drop-trigger-icon-clear
  &:hover
    .d-drop-trigger-tgl
      display none
    .d-drop-trigger-del
      display block
.d-drop-trigger-svg
  display block
  padding-top 7px
  width 100%
  height 100%
  text-align center
  transition transform .3s
  svg
    vertical-align middle
    width 16px
    height @width
    font-size 0
    path
      transition fill .3s
.d-drop-trigger-del
  display none
  svg
    &:hover
      path
        fill var(--blue-500)
.d-drop-trigger-tgl
  display block
.d-drop-trigger-tgl-open
  transform rotate(180deg)

.p-trigger-error
  border-color var(--red-500)
.p-trigger-error-text
  position absolute
  left 0
  top 36px
  line-height 14px
  font-size 14px
  color var(--red-500)
