.d-breadcrumb
  display flex
  align-items center
  font-size 0
//.d-breadcrumb-item
.d-breadcrumb-item-text
  display inline-block
  vertical-align middle
  height 24px
  line-height @height
  color var(--grey-500)
  font-size 14px
  overflow hidden
  text-overflow ellipsis
  white-space nowrap
  cursor pointer
  transition color .3s
  &:hover
    color var(--blue-500)
.d-breadcrumb-item-active
  color var(--grey-900)
.d-breadcrumb-item-width
  max-width 44px
.d-breadcrumb-item-max-width
  max-width 100px
.d-breadcrumb-separator
  display inline-flex
  align-items center
  justify-content center
  vertical-align middle
  margin-left 4px
  margin-right 4px
  width 8px
  //height 24px
  color var(--grey-500)
  font-size 14px
  svg
    vertical-align middle
    width 8px
    height 14px
