.p-breadcrumb
  display flex
  align-items center
  font-size 0
  .p-breadcrumb-item
    .p-breadcrumb-item-text
      display inline-block
      vertical-align middle
      height 24px
      line-height @height
      color var(--grey-500)
      font-size 14px
      overflow hidden
      text-overflow ellipsis
      white-space nowrap
      cursor pointer
      transition color .3s
      &:hover
        color var(--blue-500)
    .p-breadcrumb-item-active
      color var(--grey-900)
    .p-breadcrumb-item-width
      max-width 44px
    .p-breadcrumb-item-max-width
      max-width 100px
    .p-breadcrumb-arrow
      display inline-block
      vertical-align middle
      margin-left 4px
      margin-right 4px
      width 8px
      height 24px
      line-height @height
      svg
        vertical-align middle
        width 8px
        height 14px
