.p-sidebar-custom
  position relative
  display flex
  width 100%
  height 100%
  font-size 0
  overflow hidden
.p-sidebar-custom-col-resize
  cursor col-resize
  > div
    pointer-events none
    user-select none
  .p-sidebar-left
    pointer-events none
.p-sidebar-custom-normal
  .p-sidebar-custom-btn
    border-radius 12px
    width 24px
    height @width
    line-height @width
    transform translateX(-12px)
    svg
      width 12px
      height 12px
.p-sidebar-custom-large
  .p-sidebar-custom-btn
    border-radius 14px
    width 28px
    height @width
    line-height @width
    transform translateX(-14px)
    svg
      width 16px
      height @width
.p-sidebar-custom-line
  position absolute
  left 222px
  top 0
  z-index 11
  background-color var(--blue-500)
  width 2px
  height 100%
  pointer-events none
.p-sidebar-custom-bar
  position absolute
  top 0
  z-index 11
  width 3px
  height 100%
.p-sidebar-custom-bar-change-size
  cursor col-resize
  &:hover
    &::before
      content ''
      position absolute
      top 0
      right 1px
      z-index 11
      display block
      background-color var(--blue-500)
      width 2px
      height 100%
.p-sidebar-custom-btn
  position absolute
  top 16px
  z-index 12
  display inline-block
  background-color var(--theme)
  border 1px solid var(--grey-300)
  box-shadow var(--box-shadow-right)
  overflow hidden
  font-size 0
  text-align center
  cursor pointer
  //transition background-color .3s, left .3s
  transition background-color .3s
  &:hover
    background-color var(--blue-500)
    border-color var(--blue-500)
    svg
      path
        fill var(--white)
  svg
    margin-top -2px
    vertical-align middle
    font-size 0
    transition transform .3s
    path
      transition fill.3s
.p-sidebar-custom-btn-normal
  svg
    margin-left -2px
.p-sidebar-custom-btn-rotate
  svg
    margin-right -2px
    transform rotate(180deg)
.p-sidebar-left
  position relative
  z-index 10
  background-color var(--grey-50)
  border-right 1px solid var(--grey-300)
  width 224px
  height 100%
  overflow auto
  //transition width .3s
.p-sidebar-right
  width calc(100% - 224px)
  height 100%
  overflow auto
  //transition width .3s
