.s-list
  width 100%

.s-list-item
  display flex
  justify-content space-between
  align-items center
  border-bottom 1px solid var(--grey-300)
  &:last-child
    border-bottom 0
  &:hover
    background-color var(--grey-100)
  article
    padding 10px

.s-item-left
  font-size 18px
  color var(--grey-900)

.s-item-right
  padding-top 2px
  color var(--grey-600)
  span
    font-size 14px
  i
    padding-left 4px
    font-style normal
    font-size 20px
