@import "../../../assets/animate/selectDownUpExtend.styl"

.d-drop-box
  position absolute
  outline none
  padding-top 8px
  padding-bottom 8px
  background-color var(--theme)
  border 1px solid var(--grey-300)
  border-radius 4px
  box-shadow var(--box-shadow-bottom)
  min-width 120px
  max-width 240px
  z-index 700
  font-size 0
  //pointer-events none
  overflow hidden
.d-drop-box-multiple
  max-height 250px
.d-drop-box-multiple-search
  height 250px
.d-drop-box-single
  max-height 208px
.d-drop-box-single-search
  height 208px
.d-drop-box-search
  position relative
  margin 4px 12px
  width calc(100% - 24px)
.d-drop-box-input
  outline none
  padding-left 8px
  padding-right 30px
  border 1px solid var(--grey-400)
  border-radius 4px
  width 100%
  height 32px
  font-size 14px
  color var(--grey-900)
  transition border-color .3s
  &:active, &:focus, &:hover
    border-color var(--blue-500)
.d-drop-box-input-clear
  position absolute
  right 1px
  top 1px
  padding-top 7px
  display inline-block
  width 30px
  height 30px
  text-align center
  cursor pointer
  svg
    width 16px
    height 16px
    path
      transition fill .3s
  &:hover
    svg
      path
        fill var(--blue-500)
.d-drop-box-list
  width 100%
  max-height 190px
  overflow-x hidden
  overflow-y auto
.d-drop-box-item
  display flex
  align-items center
  padding-left 12px
  padding-right 12px
  width 100%
  height 38px
  line-height @height
  color var(--grey-900)
  cursor pointer
  white-space nowrap
  text-overflow ellipsis
  overflow hidden
  transition background-color .3s
  &:hover
    background-color var(--grey-200)
  &.d-drop-ited-selected
    color var(--blue-500)
    background-color var(--blue-100)
  .d-drop-box-text
    overflow hidden
    text-overflow ellipsis
    white-space nowrap
    width 100%
    font-size 14px
.d-drop-box-item-checkbox
  .d-drop-box-text
    width calc(100% - 20px)
.d-drop-box-ited-selected
  background-color var(--blue-100)
  .d-drop-box-text
    color var(--blue-500)
.d-drop-box-handle
  position absolute
  left 0
  bottom 0
  z-index 10
  display flex
  justify-content flex-end
  padding-left 12px
  padding-right 12px
  background-color var(--theme)
  width 100%
  height 42px
  line-height @height
  .d-drop-box-btn
    font-size 14px
    cursor pointer
    transition color .3s
  .d-drop-box-cancel
    margin-right 16px
    color var(--grey-900)
    &:hover
      color var(--blue-500)
  .d-drop-box-confirm
    color var(--blue-500)
    &:active
      color var(--blue-600)
  .d-drop-box-disabled
    color var(--grey-400)
    cursor not-allowed
.d-drop-box-handle-shadow
  box-shadow var(--box-shadow-top)
