:root
    --c-brand #646cff
    --c-brand-light #747bff
    // 主色调
    --color-main var(--c-brand)
    // 底部栏色调
    --color-border #4dd0e1
    // 引用字体色
    --color-block #4dd0e1
    // 加粗色调
    --color-strong #26c6da
    // 代码样式
    --color-code #26c6da
    // 引用边框色
    --color-border-left #26c6da

    // 代码背景色
    --color-code-bg rgba(77,208,225,.08)
    // 引用背景色
    --color-block-bg rgba(77,208,225,.15)

.home-hero
    background-image linear-gradient(90deg,rgba(159,219,252,.15) 3%,transparent 0),linear-gradient(1turn,rgba(159,219,252,.15) 3%,transparent 0)
    background-size 20px 20px
    background-position 50%

.container
    background-image linear-gradient(90deg,rgba(159,219,252,.15) 3%,transparent 0),linear-gradient(1turn,rgba(159,219,252,.15) 3%,transparent 0)
    background-size 20px 20px
    background-position 50%
