.app
  width 100%
  .backBox
    box-shadow var(--box-shadow-bottom)
    width 100%
    height 48px
    line-height 48px
    .title
      text-align center
      color var(--grey-900)
      font-size 18px
      font-weight 600
  .component-padding
    padding 16px
  .component
    h1
      margin-bottom 8px
      font-size 20px
  .titleLine
    padding-left 12px
    border-left 4px solid var(--grey-400)

.app-main
  width 100%
.components-title,
.components-title-h2,
.components-title-h3
  color var(--grey-900)

.checkbox
  padding 16px
  font-size 0
.avatar
  img
    border-radius 14px
    width 28px
    height @width
.section-tag
  display flex

// DrawerView
.titleContent
  display flex
  align-items center
  .title
    padding-right 8px
    font-size 16px
    font-weight 600

// Select
.mSelect
  padding 40px

// PopoverTipView
.popoverTipView
  padding 10px
.tip-test
  padding-left 12px
  display inline-block
  border 1px solid var(--grey-300)
  border-radius 4px
  width 180px
  height 32px
  line-height 32px
  font-size 14px
  color var(--grey-900)
  span
    padding-left 4px
    padding-right 4px
    color var(--blue-500)
.form-cus-class
  padding-top 12px
  text-align right
