.p-tooltip
  position absolute
  z-index 7000
  padding 8px 12px
  border 1px solid var(--grey-300)
  border-radius 4px
  box-shadow var(--box-shadow-bottom)
  background-color var(--theme)
  color var(--grey-900)
  font-size 12px
  pointer-events none
