.p-tree-com
  display inline-block
  vertical-align middle
  width 100%
  font-size 0
.p-tree-com-item
  display flex
  align-items center
  padding-left 12px
  width 100%
  height 38px
  line-height @height
  cursor pointer
  transition background-color .3s
  &:hover
    background-color  var(--hover-color-grey)
.p-tree-com-current
  background-color var(--blue-100)
  &:hover
    background-color  var(--hover-color-blue)
  .p-tree-com-text
    color var(--blue-500)
.p-tree-com-disabled
  cursor not-allowed
  .p-tree-com-content
    color var(--grey-400)
.p-tree-com-arrow
  padding-right 8px
  width 24px
  height 38px
  cursor pointer
  svg
    vertical-align middle
    width 16px
    height @width
    transform rotate(90deg)
  .p-tree-com-triangle
    transform rotate(180deg)
.p-tree-com-main
  display flex
  align-items center
  width calc(100% - 24px)
.p-tree-com-single
  .p-tree-com-content
    width 100%
.p-tree-com-multiple
  .p-tree-com-content
    width calc(100% - 20px)
.p-tree-com-checkbox
  padding-right 4px
  width 20px
  height 38px
.p-tree-com-content
  height 38px
  overflow hidden
  color var(--grey-900)
.p-tree-com-omit
  position relative
  padding-right 20px
.p-tree-com-text
  width 100%
  font-size 14px
  overflow hidden
  white-space nowrap
  text-overflow ellipsis
.p-tree-com-point-svg
  position absolute
  right 0
  top 9px
  width 20px
  height 20px
  line-height @height
  text-align center
  font-size 0
  cursor pointer
  &:hover
    path
      fill var(--blue-500)
  svg
    vertical-align middle
    width 16px
    height 16px
    path
      transition fill .3s
.p-tree-com-point-svg-active
  svg
    path
      fill var(--blue-500)
