@import "../static/stylus/animate/fadeDownUpUi.styl"

.p-message-box
  position absolute
  top 36px
  left 0
  text-align center
  display flex
  flex-flow column wrap
  justify-content center
  align-items center
  width 100%
  z-index 8000
  pointer-events none

.p-message
  display flex
  justify-content space-around
  align-items flex-start
  padding 8px 8px 8px 12px
  border-radius 4px
  box-shadow var(--box-shadow-bottom)
  min-width 240px
  max-width 600px
  min-height 40px
  .p-message-hint
    line-height 24px
    font-size 0
    svg
      vertical-align middle
      width 16px
      height 16px
  .p-message-text
    padding-left 8px
    padding-right 8px
    width 100%
    text-align left
    font-size 14px
    color var(--white)
    word-wrap break-word
    line-height 24px
  .p-message-close
    height 24px
    line-height @height
    pointer-events auto
    font-size 0
    svg
      vertical-align middle
      width 12px
      opacity .5
      transition opacity .3s
      cursor pointer
      &:hover
        opacity 1
.p-message-info
  background-color var(--blue-500)
.p-message-success
  background-color var(--turquoise-500)
.p-message-warning
  background-color var(--orange-400)
.p-message-error
  background-color var(--red-400)
